* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-size: 1vh;
}

#mainHeading {
    cursor: pointer;
    font-size: 12em;
    text-align: center;
    background-color: rgb(40, 68, 68);
}

#mainContainer {
    margin: 10em 0em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorBox {
    width: 18em;
    height: 18em;
    margin: 1em 1em;
    border: 2px solid black;
    background-color: rgb(18 143 146);
}

.imgBox {
    top: 0.1em;
    left: 0.1em;
    width: 2.3em;
    height: 2.3em;
    font-size: 7em;
    position: relative;
    cursor: pointer;
    background-color: aqua;
}

#imgBox1 {
    background: url("../Img/Wallpaper.jpg");
    background-size: cover;
    background-position: center;
}


/* Class while we hold object. */

.hold {
    border: 2px solid white;
}


/* Class for  hide object */

.hide {
    visibility: hidden;
}


/* Class for add dashed border in object */

.dashed {
    border: 2px dashed black;
    background-color: rgb(76, 93, 94);
}